

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
        box-sizing: border-box;
}
.spacing > * + * {
    margin-top: var(--spacer, 2rem);
  }
  
  .btn {
    display: inline-block; /*makes photo background transparent again*/
    text-decoration: none;
    text-transform: uppercase;
    padding: .25em 0.75em;
    color: var(--clr-accent, #FCF8FF);
    font-weight: 700;
    font-size: 1.25em;
    background: var(--clr-accent, #9B89B3);
    /* hover over button action: */
    border-radius: .2em;
    /*-webkit-transition: opacity 250ms linear,transition: transform 250ms ease-in-out,
      opacity 175ms linear;*/
      
  
  }
  
  .btn:hover,
  .btn:focus {
   -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.6;
  }
  
  .primary-title {
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw+1rem), 4rem);
    line-height: 1;
    color: #9B89B3;
    text-transform: uppercase;
  }
  
   
    .hero {
    text-align: center;
    opacity: 70%;
    text-align: center;
    padding: 25rem 0;
  }
  
  @supports (background-blend-mode: multiply) {
    .hero {
      background: url(../img/galaxy1.jpg);
      background-repeat: no-repeat;
      background-size: 85%;
      background-attachment: fixed;
      background-position: center center;
      background-color: #33354c;
    }
  }
  
  @media (min-width: 600px) {
    .card {
      flex-direction: row;
      margin-top: 5em;
     
    }
    .profile-main {
      text-align: left;
      margin-left: 2em;
  
    }
    .profile-name::after {
      margin-left: 0;
  
    }
  }
  
    h1 {
    color: #FCF8FF;
    font-size: 55px;
    font-weight: 200%;
    }
    h2 {
      color: #FCF8FF;
     font-family: 'IBM Plex Serif', serif;
     font-size: 25px;
     font-weight: 150%;
     font-style: italic;
    }
  
  
  .section-title {
    text-align: center;
    font-size: (clamp(2.5rem, calc(5vw+ 1rem), 4rem));
    line-height: 1;
    color: #9B89B3;
  }
  
  .featured {
      background: #D5E9F1;
  }
  
  .featured__item {
      display: block;
      position: relative;
      color: #FCF8FF;
  }



.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }